.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

li{
  list-style: none;
}

body {
  padding-bottom: 100px;
}

.text-box {
  position: absolute;
  margin-top: 0;
  bottom: 0;
  margin-bottom: 0;
  /*width: 100%;
  height:
  margin:0 0 0 0;*/
}

.reviewInput {
  width: 500px;
  height: 250px;
}

.chat .message-box{
  position: absolute;
  bottom: 0;
}

.chat .chat__message-wrap{
  padding-top: 40px;
}
