.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0;
}

li{
  list-style: none;
}

body {
  padding-bottom: 100px;
}


.reviewInput {
  width: 500px;
  height: 250px;
}
