$primary-purple-navy: #3D5A80;
$primary-diamond: #C9F0FF;
$primary-light-gray: #DBDBDB;
$primary-dim-gray: #6D696A;
$primary-dark-liver: #50514F;
$primary-quick-siver: #A2A7A5;
$primary-lime: #94d82d;
$primary-orange: #fcc419;
$primary-teal-green: #20c997;
$primary-cyan-blue: #22b8cf;
$primary-pink: #ff8787;
$primary-pure-white: #FFFFFF;
